@font-face {
    font-family: Lato;
    src: url(assets/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(assets/Lato-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(assets/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(assets/Lato-Black.ttf);
    font-weight: 900;
    font-style: normal;
}




body {
    width: 1020px;
}


/*----------HEADER----------*/

.header {
    background-color: #2d303a;
    height: 89px;
    border-bottom: solid 6px #323746;
}

.logo {
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 25px;
    letter-spacing: -0.025em;
    font-weight: 500;
    line-height: 28px;
	float: left;
	margin-top: 30px;
    margin-left: 40px;
}

#logo-red {
 color: #f06c64;   
}

.header__navigation ul {
    float: right;
    margin-top: 42px;
    margin-right: 40px;
    width: 371px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.025em;
    list-style: "·     ";
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;    
}

.header__navigation li:nth-child(1) {
    list-style: none;
}

.header__navigation li:hover {
    color: #f06c64;
}


/*----------SLIDER----------*/

.slider {
    background-color: #f06c64;
    height: 594px;
    border-bottom: solid 6px #ea676b; 
}

.slider_pict {
    height: 589px;
    width: 938px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 42px;    
}

.slider_chev_right {
    transform: rotate(180deg);  
}

.slider_chev_right:hover {
    transform: scale(2) rotate(180deg);
}
.slider_chev_left:hover {
    transform: scale(2);
}

.slider_phone-vertical {
    margin-left: -1px;
}

.slider_phone-horizontal {
    margin-left: 18px;
    margin-top: -1px;
}


/*----------SERVICES----------*/

.services {
    height: 495px;
    background-color: #f2f2f2;
    border-bottom: white solid 6px;
}

.services_head {
    font-family: "Lato";
    font-weight: 800;
    font-size: 30px;
    color: #666d89;
    line-height: 18px;
    padding-left: 40px;
    padding-top: 68px;
}

.services_text {
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    color: #767e9e;
    line-height: 30px;
    letter-spacing: -0.012em;
    text-align: justify;
    width: 940px;
    height: 88px;
    padding: 10px 0 0 40px;
}

.services__3-column {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    margin-left: 41px;
    width: 958px;
    height: 100px;

}

.tool {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-flow: row;
    height: 123px;
    
}

.services__logo {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 29px;
    background-color: transparent;
    border: 2px solid #666d89;
}

.services__logo_pict {
    height: 55px;
    position: relative;
    display: flex;
    justify-content: center;
}

.tool__text {
    font-family: "Lato";
    hyphens: manual;
}

.tool__text_head {
    font-weight: 900;
    font-size: 18px;
    line-height: 12px;
    color: #666d89;
    text-align: left;
    letter-spacing: -0.005em;
    height: 25px;
    margin: 1px 0 0 -1px;
}

.tool__text_text {
    width: 220px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.01em;
}